.chartContainer {
    align-items: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    position: relative;
    width: 80%;
}

.chartContainer button {
    align-items: center;
    bottom: -30px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
}